env

__pycache__/
*.pyc

proyecto/data/SuicidiosProyecto.csv
proyecto/data/processed_data.csv
proyecto/data/processed_data_min.csv
proyecto/Etapa1/models/modelo_random_forest.pkl
proyecto1_etapa2_grupo13/db.sqlite3
*.csv
