<!DOCTYPE html>

{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Suicide Intention Detection</title>
    <!-- <link rel="icon" href="{% static "mikasa-store-logo.jpg" %}"
    type="image/png" /> -->

    <!-- <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/brands.js' %}"></script> -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />

    <link rel="stylesheet" href="{% static "style/style.css" %}">
  </head>

  <body>
    <div class="wrapper bg-white px-4">
      <h2 class="w-100 text-center mt-5 mb-3">Detección de intención de suicidio en textos</h2>
      <div class="content-container w-100">
        {% block content %}{% endblock content %}
      </div>
      <p class="w-100 text-center fixed-bottom">@ 2022</p>
    </div>
  </body>
</html>