.home_link_container {
    width: 46%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 5px;
    margin: 2% 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .home_link_container {
        width: 100%;
    }
}